/* style.css */
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("images/bgimage.png"); /* Example gradient */
    margin: 0;
    background-size: cover;

}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.786);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the content */
    width: 25%;
    justify-items: center;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    color: orange;

}
.logo-svg {
    top: 20px;
    left: 20px;
    position: absolute;
}
.input-group {
    margin-bottom: 15px;
    display: flex;
    width: 100%;
}

input[type="email"], input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
    margin-right: 5px;
    height: 25px;
    margin-bottom: 10px;
}

.input-group input:disabled {
    opacity: 0.5; /* Fade effect for disabled inputs */
    cursor: not-allowed;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    width: 150px;
    height: 3rem;
    cursor: pointer;
}




#message {
    margin-top: 10px;
    color: red;
}

