<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sophius AI Buddy</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="frontend/static/chatbot.css">
</head>

<body>
    <div class="container" id="container">
        <div class="history-panel" id="sidebar">
            <div class="history-panel-title">Your History</div>
            <div class="history-section">
                <h4>Today</h4>
                <ul>
                    <li class="active">Not feeling good! 😔🥺</li>
                    <li>Feeling Blue: How to Cope with Temporary Sadness 😔</li>
                </ul>
            </div>
            <div class="history-section">
                <h4>Yesterday</h4>
                <ul>
                    <li>Up and Down: Navigating Emotional Rollercoasters</li>
                    <li>Beyond the Surface: Understanding and Addressing Underlying Issues</li>
                </ul>
            </div>
            <div class="history-section">
                <h4>This Month</h4>
                <ul>
                    <li>The Art of Self-Care: Nurturing Your Mind, Body, and Soul</li>
                    <li>Breaking Free from Negative Thoughts: Strategies for Positive Thinking</li>
                    <li>The Power of Connection: Building Strong Relationships for Emotional Well-being</li>
                    <li>Finding Your Joy: Rediscovering Happiness in Everyday Life</li>
                    <li>Professional Help: When to Seek Therapy and Counseling</li>
                </ul>
            </div>
            <button class="collapse-btn" onclick="toggleSidebar()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                    <path d="M16 19L8 12l8-7v14z"></path>
                </svg>
            </button>
        </div>
        <div class="chat-area">
            <div class="chat-header-2">
                <!-- <img src="/frontend/static/images/hugging-gif.gif" alt="Before GIF" class="chat-header-gif-1"> -->
                <button class="chat-header-gif-1" onclick=homeRoute()>Home 🏠</button>
                <div class="chat-header">🤗&nbsp Sophius AI Buddy &nbsp🤗</div>
                <button class="chat-header-gif-2" onclick=handleLogout()>Logout 🔐</button>
                <!-- <img src="/frontend/static/images/hugging-gif.gif" alt="After GIF" class="chat-header-gif-2"> -->
            </div>

            <div class="session-time" id="sessionTime"></div>
            <div class="chat-messages" id="chatMessages">
                <div class="placeholder" id="placeholder">Hi {{username}}, I am Your AI Buddy. How can I help you today!</div>
            </div>
            <div class="chat-input-container">
                <input class="chat-input" type="text" placeholder="Type a message" id="chatInput"
                    onkeydown="checkEnter(event)">
                <button class="send-button" id="sendButton" onclick="sendMessage()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M2.01 21L23 12 2.01 3v7l15 2-15 2z" />
                    </svg>
                </button>
                <div class="loader" id="loader">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="30" height="30"></svg>
                </div>
            </div>
        </div>
        <button class="scroll-button" id="scrollButton" onclick="scrollToLatest()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M12 15l-7-7h14l-7 7z" />
            </svg>
        </button>
    </div>

    <script src="frontend/static/chatbot.js"></script>
</body>

</html>