<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sophius Login</title>
    <link rel="stylesheet" href="frontend/static/home.css">
</head>
<body>
    <div class="container">
        <img src="frontend/static/images/logo.svg" alt="Sophius Logo" class="logo-svg">
        <div class="login-box">
            <div class="logo">SOPHIUS</div>
            <h2>Login or Signup</h2>
            <div class="input-group">
                <input type="text" id="username" placeholder="Nickname">
            </div>
            <div class="input-group">
                <input type="email" id="email" placeholder="Email">
            </div>
            <div class="input-group" id="otp-group" style="display: none;">
                <input type="text" id="otp" placeholder="Enter OTP">
            </div>
            <button id="getOtp">Get OTP</button>
            <img id="loaderOtp" src="frontend/static/images/writing-loading.gif" alt="Loading..." style="display: none;">
            <button id="submitOtp" style="display: none;" class="submitOtp">Submit</button>
            <div id="message"></div>
        </div>
    </div>
    <script src="frontend/static/home.js"></script>
</body>
</html>
